body{
    text-align: center;
}

.btn{
    padding: 10px 30px;
    background-color: rgb(11, 107, 185);
    border: none;
    border-radius: 20px;
    color: white;
}

.btn:hover{
    padding: 20px 40px;
    cursor: pointer;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
}